.add-modal-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
}

.add-modal-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34);
}

.add-modal-form input:focus {
    outline: none;
}

.add-modal-form textarea {
    resize: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34);
    margin-bottom: 20px;
}

.add-modal-form textarea:focus {
    outline: none;
}

.add-modal-form .btn-text {
    font-size: 10px;
    opacity: 1;
}