.addtodo {
    text-align: center;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 98%;
    height: 30%;
    /* box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34); */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-size: 30px;
    cursor: pointer;
}

.addtodo span {
    font-size: 30px;
    opacity: 0.5;
}

.addtodo button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.addtodo button {
    border: 1px solid black;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    border: none;
    /* box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34); */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: greenyellow;
}
