@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.note {
    background-color: rgb(61, 61, 61);
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 98%;
    max-height: 20vh;
    /* box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34); */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: white;
    transition: 1s;
}

.note-disp {
    display: none;
}

.note:hover {
    opacity: 0.2;
    /* box-shadow: 0px 0px 27px -1px rgb(255, 0, 0);
    -webkit-box-shadow: 0px 0px 27px -1px rgb(255, 0, 0);
    -moz-box-shadow: 0px 0px 27px -1px rgb(255, 0, 0); */
    cursor: pointer;
}

.note h1 {
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 8px;
}

.note p {
    border: 1px solid transparent;
    border-radius: 10px;
    /* box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 27px -1px rgba(0, 0, 0, 0.34); */
    padding: 10px;
    opacity: 0.8;
}

.note .data-added {
    opacity: 0.5;
    font-size: 10px;
}
