.App {
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
    min-height: 100vh;
    background-color: #1c1c1c;
}

.App .note-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    min-height: 50vh;
}

.loader {
    display: grid;
    min-height: 45vh;
    place-items: center;
}
